* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 244, 244);
}

.name {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  color: burlywood;
  font-size: 32px;
  padding: 10px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.main h1 {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 7px;
  font-size: 45px;
}

.main span {
  color: rgb(78, 78, 162);
  font-size: 30px;
}

.btn {
  margin: 30px;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 7px;
  letter-spacing: 3px;
  border: 2px solid black;
  padding: 10px;
  font-weight: 700;
}

.btn:hover {
  color: white;
  background-color: black;
}
